body{
    width: 30%;
    margin: auto;
}
#login_page {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 350px;
    height: 550px;
    border: 5px solid tomato;
    justify-content: center;
    text-align: center;
}
#login_page h1 {
    margin-top: 35px;
}
#login_page input{
    width: 300px;
    height: 32px;
    border:2px solid red;
    font-size: 19px;
}
#login_page button{
    width: 300px;
    height: 38px;
    background-color:rgb(233, 65, 150);
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}
#text_google{
    width: 300px;
    height: 38px;
    background-color:rgb(66 133 244);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
}
 #text_facebook {
    width: 300px;
    height: 38px;
    background-color:rgb(66 103 178);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
}
#text_facebook img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: -40px;
}
#text_facebook p {
    margin-left: 20px;
    color: white;
    
}
#text_google img {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: -60px
}
#text_google p {
    margin-left: 10px;
    color: white;
}
#hr_line {
    text-align: center;
}
#logos {
    margin-left: 25px;
}
#login_page a{
    text-decoration: none;
    border-bottom: none;
    color: rgb(233, 65, 150);

}
#close_btn {
  font-size: 29px;
  width:350px;
  height:24px;
  text-align: right;
  margin-left: -20px;
  margin-top: 20px;
  cursor: pointer;
}

  