body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#header{
    display: flex;
    gap:50px;
    background-color:rgb(236, 227, 227);
}
#header a{
    text-decoration: none;
    color: gray;
}
#header img{
    width: 18px;
    height: 19px;
    margin-right: 10px;

}
#header div p{
    margin-top: 15px;
}
#req {
    display: flex;
    gap: 30px;
}
#req a{
    text-decoration: none;
    color:gray;
}
#header>div>img {
    width: 130px;
    height: 50px;
}
#sbox{
    display: flex;
    width: 150px;
    border:transparent;
    align-items: center;
}
#sbox a{
    text-decoration: none;
    color: gray;
}
#inp{
width: 300px;
height: 40px;
color: black;
border: none;
outline: none;
border-bottom: 1px solid red;
font-size : 1.25em;
margin-left: 15px;
cursor: pointer;
}
#sbox #sepho{
    margin-top:10px;
     width: 270px;
     height: 100px;
     text-align: center;
     margin-right: 350px;
     
}
#sbox img {
    margin-left: 155px;
    width: 20px;
    height: 20px;
}
#shopping {
    display:flex;
    margin-right: 0%;
    margin-left: 0%;
    padding: 0%;
    align-items: flex-end;
    justify-content: space-evenly;
}
#shopping :nth-child(1){
    
    margin-right: 0%;
    margin-left: 0%;
    padding: 0%;
}
#shopping :nth-child(2){
    margin-right: 0%;
    margin-left: 20px;
    padding: 0%;
}

span{
    display: flex;
}
#cicon {
    margin-top: 14px;
    cursor: pointer;
    font-size: 29px;
}
#sicon{
    margin-top: 14px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 29px;
}
#drop_down {
    display: flex;
    gap: 60px;
    justify-content: center;
}
#drop_down a {
    text-decoration: none;
    color: black;
}
#drop_down a:hover{
    color: pink;
}
#locate_info {
    width: 300px;
    height: 355px;
    border: 2px solid white;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    background-color: white;
}
#locate_info h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#image img{
    margin-top:20px;
    width: 300px;
    height: 140px;
}
#locate_info input{
    width: 240px;
    height: 42px;
    background-color:rgb(230, 230, 232);
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bolder;
}
#locate_info button{
    width: 240px;
    height: 48px;
    background-color:rgb(233, 65, 150);
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#map_img{
    width: 1250px;
    height: 800px;
    margin-top: 30px;
    border: 2px solid white;
}
#map_img{
    background-image: url("https://www.istanbul-city-guide.com/map/india/bangalore/bangalore%20maps.gif");
    width: 1250px;
    height: 410px;
}